body{

background-image: url(../assets/pokemon-bg.jpg);
}

.box{
    background-color: white;
    margin: 10px;
    text-align: center;
    padding: 10px;
        
}
.pika-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.container{
    
    
    background-color: white;
    justify-content: center;
    text-align: center;
    position: absolute;
    margin: 20px;
    top:30%;
    left:24%;
    border-radius: 20px;
   

    
}