body{
    background-color: #1f0347;
    text-align: center;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    size: 100px;
    
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
}